html {
  width: 100%;
}

#teams {
  border-collapse: collapse;
  width: 100%;
}
#teams th {
  background-color: #38cf83;
  color: white;
}
#teams th,
#teams td {
  border: 1px solid gray;
  padding: 5px;
}
#teams tr:nth-child(even) {
  background-color: #f2f2f2;
}

#url {
  width: 100%;
}
