html {
  width: 100%;
}

#teams {
  border-collapse: collapse;
  width: 100%;
}
#teams th {
  background-color: #38cf83;
  color: white;
}
#teams th,
#teams td {
  border: 1px solid gray;
  padding: 5px;
}
#teams tr:nth-child(even) {
  background-color: #f2f2f2;
}

#url {
  width: 100%;
}

#title-div {
  width: 100%;
  height: 150px;
  background-color: #a7ee98;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

#title-image {
  padding: 10px;
}

#image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 4px solid white;
}

#title-name {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  padding-top: 30px;
}

#title-info {
  display: block;
  padding: 5px;
}

::placeholder {
  color: #a7ee98;
  opacity: 1;
}
